/* latin-ext */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(http://fonts.gstatic.com/l/font?kit=Lx1xfUTR4qFjwg0Z_pb90zngzSG_G4Cun8mgt4FZBAE&skey=4ad46dd97873f7d7) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(http://fonts.gstatic.com/l/font?kit=Lx1xfUTR4qFjwg0Z_pb902lgtcQKNFrDLaxj-COrDO0&skey=4ad46dd97873f7d7) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(http://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7XagtpoBr_G6CNGQnNfw4mZOPAno&skey=ba59c4fdb0ab3b35) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(http://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7Xagtpo-jif12_EhGDy_Tj7lcXrA&skey=ba59c4fdb0ab3b35) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}